/*
//  styles.css
//  parvezkose.com
//
//  Created by Parvez Kose on 10/23/17.
//  Copyright © 2017 Parvez Kose. All rights reserved.
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

a,
a:active,
a:focus,
input:focus {
	text-decoration: none !important;
	outline: 0;
}

body {
	padding: 0;
	margin: 0;
	background: #151515;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}

#minimos-1 {
	font-family: "Raleway", sans-serif;
	background: #151515;
}

.layout-center .v-center,
.layout-center .sven-badge {
	text-align: center;
}

.layout-center .main-content {
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	body {
		font-size: 22px;
		line-height: 48px;
	}
	.main-content {
		width: 80%;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 26px;
		line-height: 48px;
	}
}

@media only screen and (min-width: 1824px) {
	body {
		font-size: 32px;
		line-height: 60px;
	}
}

.content-wrapper {
	position: relative;
	overflow: visible;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1;
}

.content-wrapper::before {
	content: "";
	display: inline-block;
	height: 100%;
	margin-right: -0.25em;
	vertical-align: middle;
}

.v-center {
	position: relative;
	display: inline-block;
	width: 86%;
	text-align: left;
	vertical-align: middle;
}

.main-content {
	visibility: visible;
}

p {
	font-size: 1em;
	line-height: 1.875em;
	margin: 0;
	padding: 0 0 0.9375em;
}

h3 {
	margin-bottom: 0.714em;
	padding: 0;
	font-size: 1.333em;
	line-height: 1.429em;
}

p a {
	color: #ddc225;
}

ul {
	padding: 0;
	margin: 0;
	opacity: 1;
	visibility: visible;
	font-size: 0.75em;
}

ul.nav li {
	position: relative;
	display: inline;
	padding-bottom: 0.1875em;
	margin-right: 0.75em;
}

.nav li a {
	color: #a3a3a3;
	-webkit-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
	cursor: pointer;
}

.nav li a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 0.125em;
	background-color: #ddc225;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.nav li a:hover {
	color: #fff;
}

.nav li a:hover:after {
	opacity: 1;
}

.nav a.btn-fill,
.nav a.btn-bordered {
	padding: 0.5em 1em;
	border: 0.063em solid transparent;
	border-radius: 0.125em;
	font-weight: 700;
	text-transform: uppercase;
}

.nav a.btn-fill:after,
.nav a.btn-bordered:after {
	display: none;
}

.nav a.btn-fill {
	color: #00a1e0;
	background: #ffd61f;
}

.nav a.btn-fill:hover {
	background: #fff;
	color: #00a1e0;
}

.nav a.btn-bordered {
	color: #fff;
	border-color: #fff;
}

p.secondary {
	opacity: 0.8;
	font-size: 0.65em;
	line-height: 1.875em;
	margin-right: 7em;
}

.preloader {
	z-index: 100;
}

.sven-badge {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 2em;
	margin: 0 auto;
	width: 86%;
	font-size: 0.438em;
	line-height: 1.875em;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
	z-index: 10;
}

.sven-badge a {
	color: #707070;
}

.sven-badge span {
	display: inline-block;
	font-weight: 700;
	border-bottom: 1px dotted;
}

.sven-badge:hover span {
	color: #ddc225;
	border-bottom: 1px dotted transparent;
}